body {
    background-color: #191133;
    font-family: Arial, sans-serif;
    color: rgb(92, 92, 92);
    margin: 0;
    padding: 0;
    height: 100vh;
    
}
.backCard {
    background-color: rgb(161, 54, 54);
    
}

#rating span.active {
        color: orange !important;
    }
  
  #rating span {
    font-size: 42px !important;
    cursor: pointer !important;
  }
